body {
    background-color:rgb(166, 166, 166);
}

.navbar {
    display:inline-flex;
    justify-content: space-between;

}

.bar {
    width: 35vw;
}

h2 {
    text-align: center;
    padding:10rem;
    line-height: 35px;
    size: 2rem;
    font-family:sans-serif;

}

.text:hover {
    color:blue;
   
}