
.navbar {
    display:flex;
    justify-content: space-between;
    gap: clamp(12px, 3vw, 32px);
    padding: 1vw;
    z-index: 100;
    margin:auto;
}

.bar {
    size: 15px;
    width: 120px;
    justify-content: center;
    padding-top: 5vw;
}

p {
    text-align: center;
    margin: auto;
    font-family: monospace;
    padding: 19vw;
    size: 3rem;
    line-height: 3vh;

}




.container, .imagecontainer {
  display: grid;
  grid-template-columns: 12vw 12vw 12vw 12vw 12vw;
  justify-self: center;
  font-family:monospace;
  font-size: 4rem;
  max-height: 10vw;

}

@media (max-width:760px)  {
    .container {
        grid-template-columns: 25vw 25vw 25vw;
          justify-self: center;

    }
}

@media (max-width:450px)  {
    .container {
        grid-template-columns: 35vw 35vw;
          justify-self: center;

    }
}

.container {
  padding: 10px;
  font-size: 15px;
  text-align: center;
  line-height: 10vh;
  height: 10vh;
  align-items:center;

}

.color {
    filter: blur(2.5px);
    opacity:0.7;
    transition: filter 0.4s ease, opacity 0.4s ease;
    background-color: rgb(112, 112, 112);
    height:fit-content;

}
.color:hover {
    filter: blur(0px);
    opacity: 1;
    transform: scale(1.3); 
    transition: 0.3s ease;
    rotate: 10deg;
}

#title{
  font-family: monospace;
  text-align: center;
  font-size: clamp(16px, 3vw, 80px);
  line-height: 1.6;
  margin: 6vh auto 4vh;
}



.home {
    position: fixed;
    bottom: 12vh;
    right: 7vw;
    width: 60px;
    height: 60px;
    z-index: 1000;
    text-align: center;
}

.home img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.home img:hover {
    transform: scale(1.2);
   
}
