body {
    background-color: rgba(21, 255, 0, 0.517);

}

.navbar {
    display:inline-flex;
    justify-content: space-between;

}

.bar {
    width: 35vw;
}

p {
    text-align: center;
}


.container {
  display: grid;
  grid-template-columns: 15vw 15vw 15vw 15vw 15vw;
  justify-self: center;

}

@media (max-width:500px)  {
    .container {
        grid-template-columns: 15vw 15vw 15vw;

    }
}

.container div {
  background-color: #fbfffb87;
  border: 1px solid black;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  height: 10vh;

}

