
.navbar {
    justify-content: space-between;
    display:flex;
    gap: clamp(12px, 3vw, 32px);
    padding: 1vw;
    z-index: 100;
    margin:auto;
}


.bar {
    width: 15vw;
}

p {
    text-align: center;
    margin: auto;
    font-family: monospace;
    padding: 19vw;
    size: 3rem;
    line-height: 3vh;

}




.container, .imagecontainer {
  display: grid;
  grid-template-columns: 12vw 12vw 12vw 12vw 12vw;
  justify-self: center;
  font-family:monospace;
  font-size: 4rem;
  max-height: 10vw;

}

@media (max-width:760px)  {
    .container {
        grid-template-columns: 25vw 25vw 25vw;
          justify-self: center;

    }
}

@media (max-width:450px)  {
    .container {
        grid-template-columns: 35vw 35vw;
          justify-self: center;

    }
}

.container {
  background-color: #fbfffb87;
  border: 2px dotted black;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  line-height: 10vh;
  height: 10vh;
  align-items:center;

}

.color {
    filter: blur(2px);
    opacity:0.7;
    transition: filter 0.4s ease, opacity 0.4s ease;
    
}
.color:hover {
    filter: blur(0px);
    opacity: 1;
    transform: scale(1.3); 
    transition: 0.3s ease;
    rotate: 10deg;
}

#title {
    size: 10vw;
    ;

}