
.navbar {
    justify-content: space-between;
    display:flex;
    gap: clamp(12px, 3vw, 32px);
    padding: 1vw;
    z-index: 100;
    margin:auto;

}



.bar {
    width: 15vw;
}

p {
    text-align: center;
}


.container, .imagecontainer {
  display: grid;
  grid-template-columns: 10vw 10vw 10vw 10vw 10vw;
  justify-self: center;
  font-family:monospace;
  font-size: 6rem;

}

@media (max-width:760px)  {
    .container {
        grid-template-columns: 25vw 25vw 25vw;
    }
}

@media (max-width:450px)  {
    .container {
        grid-template-columns: 35vw 35vw;
    }
}

.container div {
  background-color: #fbfffb87;
  border: 1px solid black;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  line-height: 10vh;
  height: 10vh;

}
