
.navbar {
    display:flex;
    justify-content: space-between;
    gap: clamp(12px, 3vw, 32px);
    z-index: 100;
    margin:4rem 10rem 4rem;
}

.bar {
    size: 15px;
    width: 120px;
    justify-content: center;
    padding-top: 5vw;
}

p {
    text-align: center;
    margin: auto;
    font-family: monospace;
    padding: 19vw;
    size: 3rem;
    line-height: 3vh;

}

.home {
    position: fixed;
    bottom: 12vh;
    right: 7vw;
    width: 60px;
    height: 60px;
    z-index: 1000;
    text-align: center;
}

.home img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.home img:hover {
    transform: scale(1.2);
   
}



h2 {
    margin-top: 10vw;
    padding:11rem;
    line-height: 35px;
    size: 2rem;
    font-family: monospace;

}


h1 {
    margin-top: 10vw;
    padding:15rem;
    text-align:justify;
    line-height: 35px;
    size: 2rem;
    font-family:sans-serif;
}



details {
    margin:center;

    font-family:monospace;
    
    text-align: center;

}

details:open {
    display: list-item;
    background-color: rgba(77, 255, 0, 0.636);
    width:50vw;
    padding: 3vh;
    margin:auto;
    
}



@media (min-width: 500px) {
    .h1, .detail {
    justify-content:center;
    flex-wrap:wrap;
    }
    .navbar {
        padding:1vw;
    }
}


.navbar {
    display:flex;
    justify-content: space-between;
    gap: clamp(12px, 3vw, 32px);
    z-index: 100;
    margin:4rem 10rem 4rem;
}

.bar {
    size: 15px;
    width: 120px;
    justify-content: center;
    padding-top: 5vw;
}



h2 {
    margin-top: 10vw;
    padding:11rem;
    text-align:justify;
    line-height: 35px;
    size: 2rem;
    font-family: monospace;

}


h1 {
    margin-top: 10vw;
    padding:15rem;
    text-align:justify;
    line-height: 35px;
    size: 2rem;
    font-family:sans-serif;
}


.home {
    position: fixed;
    bottom: 12vh;
    right: 5vw;
    width: 60px;
    height: 60px;
    z-index: 1000;
    text-align: center;
}

.home img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.home img:hover {
    transform: scale(1.2);
   
}

details {
    margin:center;

    font-family:monospace;
    
    text-align: center;

}

details:open {
    display: list-item;
    background-color: rgba(255, 255, 255, 0.636);
    width:50vw;
    padding: 3vh;
    margin:auto;
    
}


@media (min-width: 500px) {
    .h1, .detail {
    justify-content:center;
    flex-wrap:wrap;
    }
    .navbar {
        padding:1vw;
    }
}

