body {
    background-color:rgba(21, 255, 0, 0.626);
}

.navbar {
    display:flex;
    justify-content: space-between;
    gap: clamp(12px, 3vw, 32px);
    z-index: 100;
    margin:4rem 10rem 4rem;
}

.bar {
    size: 15px;
    width: 120px;
    justify-content: center;
    padding-top: 5vw;
}

.title {
    padding-top: 10vw;
    padding-left: 10rem;
    color:rgb(0, 0, 0);
    font-family: monospace;
    font-size: 0.8rem;
    line-height: 2.5rem;
    text-align: justify;
    display:inline-block;
    transition:transfor 0.3s ease-in;
}

.backgroundtext {
    padding: 10rem;
    padding-top: -5vh;
    color:rgb(0, 0, 0);
    font-family: monospace;
    font-size: 0.8rem;
    text-align: justify;
    display:inline-block;
    transition:transfor 0.3s ease-in;
    
}

.backgroundtext a:hover {
    transform:scale(1.5);
    transition: 1s ease-in;
}




.word {
  display: inline;
  transition: opacity 0.25s ease;
}

.word.gone {
  opacity: 0;
}


.home {
    position: fixed;
    bottom: 12vh;
    right: 7vw;
    width: 60px;
    height: 60px;
    z-index: 1000;
    text-align: center;
}

.home img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.home img:hover {
    transform: scale(1.2);
}



h2 {
    margin-top: 10vw;
    padding:11rem;
    text-align:justify;
    line-height: 35px;
    size: 2rem;
    font-family: monospace;

}


h1 {
    margin-top: 10vw;
    padding:15rem;
    text-align:justify;
    line-height: 35px;
    size: 2rem;
    font-family:sans-serif;
}

details {
    margin:center;

    font-family:monospace;
    
    text-align: center;
    margin-bottom:18vh;

}

details:open {
    display: list-item;
    background-color: rgba(255, 255, 255, 0.636);
    width:50vw;
    padding: 3vh;
    margin:auto;
        margin-bottom:18vh;

    
}


.word {
  transition: opacity 2s ease;
}

.gone {
  opacity: 0;
}


.story {
    margin-top:-33vh;
}


.navbar {
    display:flex;
    justify-content: space-between;
    gap: clamp(12px, 3vw, 32px);
    z-index: 100;
    margin:4rem 10rem 4rem;
}

.bar {
    size: 15px;
    width: 120px;
    justify-content: center;
    padding-top: 5vw;
}



h2 {
    margin-top: 10vw;
    padding:11rem;
    text-align:justify;
    line-height: 35px;
    size: 2rem;
    font-family: monospace;

}


h1 {
    margin-top: 10vw;
    padding:15rem;
    text-align:justify;
    line-height: 35px;
    size: 2rem;
    font-family:sans-serif;
}


.home {
    position: fixed;
    bottom: 12vh;
    right: 5vw;
    width: 60px;
    height: 60px;
    z-index: 1000;
    text-align: center;
}

.home img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.home img:hover {
    transform: scale(1.2);
   
}

details {
    margin:center;

    font-family:monospace;
    
    text-align: center;

}

details:open {
    display: list-item;
    background-color: rgba(255, 255, 255, 0.636);
    width:50vw;
    padding: 3vh;
    margin:auto;
    
}


@media (min-width: 500px) {
    .h1, .detail {
    justify-content:center;
    flex-wrap:wrap;
    }
    .navbar {
        padding:1vw;
    }
}

