body {
    background-color:rgb(21, 255, 0);
}

.navbar {
    display:inline-flex;
    justify-content: space-between;

}

.bar {
    width: 35vw;
}

p {
    text-align: center;
}

.backgroundtext {
    padding: 2rem;
    color:rgb(132, 132, 132);
    font-family: monospace;
    font-size: 0.8rem;
    text-align: justify;
    display:inline-block;
    transition:transfor 0.3s ease-in;
    
    
}

.backgroundtext a:hover {
    transform:scale(1.5);
}