body {
    background-color:rgba(21, 255, 0, 0.626);
}

.navbar {
    display:inline-flex;
    justify-content: space-between;

}

.bar {
    width: 35vw;
}

p {
    text-align: center;
}

.backgroundtext {
    padding: 10rem;
    color:rgb(0, 0, 0);
    font-family: monospace;
    font-size: 0.8rem;
    text-align: justify;
    display:inline-block;
    transition:transfor 0.3s ease-in;
    
    
}

.backgroundtext a:hover {
    transform:scale(1.5);
    transition: 1s ease-in;
}

div {

}



.word {
  display: inline;
  transition: opacity 0.25s ease;
}

.word.gone {
  opacity: 0;
}
