body {
    background-color:rgba(21, 255, 0, 0.626);
}

.navbar {
    display:flex;
    justify-content: space-between;
    gap: clamp(12px, 3vw, 32px);
    z-index: 100;
    margin:4rem 10rem 4rem;
}

.bar {
    size: 15px;
    width: 120px;
    justify-content: center;
    padding-top: 5vw;
}

.title {
    padding-top: 10vw;
    padding-left: 10rem;
    color:rgb(0, 0, 0);
    font-family: monospace;
    font-size: 0.8rem;
    line-height: 2.5rem;
    text-align: justify;
    display:inline-block;
    transition:transfor 0.3s ease-in;
}

.backgroundtext {
    padding: 10rem;
    padding-top: -5vh;
    color:rgb(0, 0, 0);
    font-family: monospace;
    font-size: 0.8rem;
    text-align: justify;
    display:inline-block;
    transition:transfor 0.3s ease-in;
    
}

.backgroundtext a:hover {
    transform:scale(1.5);
    transition: 1s ease-in;
}




.word {
  display: inline;
  transition: opacity 0.25s ease;
}

.word.gone {
  opacity: 0;
}


.home {
    position: fixed;
    bottom: 12vh;
    right: 7vw;
    width: 60px;
    height: 60px;
    z-index: 1000;
    text-align: center;
}

.home img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.home img:hover {
    transform: scale(1.2);
}

